@model ProyectoFinalKermesse.Models.Moneda

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <ol class="breadcrumb" style="background:none; font-size: 18px">
        <li><a href="#">  @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Gestión de tablas", "Index", "Gestion", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Tabla Moneda", "Index", "Monedas", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li class="active"> Detalles  </li>
    </ol>
</div>
<h2>Detalles</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nombre)*@
            Nombre Moneda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.simbolo)*@
            Símbolo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.simbolo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.estado)*@
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>

<p>


    <button class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-hand-left" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        @Html.ActionLink("Regresar", "Index", "Monedas", new { @style = "color:white;" })
    </button>

    <button type="submit" class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idMoneda }, new { @style = "color:white;" })
    </button>
</p>

