@model IEnumerable<ProyectoFinalKermesse.Models.Moneda>

@{
    ViewBag.Title = "VerReporteMonedaDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VerReporteMonedaDetalle</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.simbolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.simbolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMoneda }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMoneda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMoneda })
        </td>
    </tr>
}

</table>
