@model ProyectoFinalKermesse.Models.CategoriaProducto

@{
    ViewBag.Title = "Detalles de Categoria de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <ol class="breadcrumb" style="background:none; font-size: 18px">
        <li><a href="#">  @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Gestiones", "Index", "Gestion", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Categoría de Productos", "Index", "CategoriaProductoes", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li class="active"> Detalles  </li>
    </ol>
</div>

<div class="container">
    <h2>Detalles</h2>
    <h3> Categoria de Productos</h3>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado)
            </dd>*@

        </dl>
    </div>
    <p>


        <button class="btn-primary" style="background-color: #779FA1">
            <span class="glyphicon glyphicon-hand-left" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
            @Html.ActionLink("Regresar", "Index", "CategoriaProductoes", new { @style = "color:white;" })
        </button>

        <button type="submit" class="btn-primary" style="background-color: #779FA1">
            <span class="glyphicon glyphicon-edit" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
            @Html.ActionLink("Editar", "Edit", new { id = Model.idCatProd }, new { @style = "color:white;" })
        </button>
    </p>
    </div> 