@model ProyectoFinalKermesse.Models.Usuario

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <ol class="breadcrumb" style="background:none; font-size: 18px">
        <li><a href="#">  @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Gestión de tablas", "Index", "Gestion", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Tabla Usuario", "Index", "Usuarios", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li class="active"> Detalles  </li>
    </ol>
</div>
<h2>Detalles</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.userName)*@
            Nombre de Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.pwd)*@
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pwd)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.nombres)*@
            Nombres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.apellidos)*@
            Apellidos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.email)*@
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.estado)*@
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>


    <button class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-hand-left" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        @Html.ActionLink("Regresar", "Index", "Usuarios", new { @style = "color:white;" })
    </button>

    <button type="submit" class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idUsuario }, new { @style = "color:white;" })
    </button>
</p>
