@model IEnumerable<ProyectoFinalKermesse.Models.ListaPrecio>

@{
    ViewBag.Title = "Lista de Precios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <ol class="breadcrumb" style="background:none; font-size: 18px">
        <li><a href="#">  @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Gestiones", "Index", "Gestion", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Lista de Precios", "Index", "ListaPrecios", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
       
    </ol>
</div>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/fonts/BannersKermesse/9.png" alt="Banner 9">

    </div>

</div>

<div class="container">

    <hr />
    <div class="dropdown" style=" left: 1000px">
        <button class="btn btn-default dropdown-toggle" style="background-color: #779FA1; color: #FFFFFF; font-weight:bold" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="float: left;  color: white"></span>
            &nbsp;
            Exportar a
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">@Html.ActionLink("Exportar a PDF", "VerReporteListaPrecio", new { tipo = "PDF" })</a></li>
            <li><a href="#">@Html.ActionLink("Exportar a Excel", "VerReporteListaPrecio", new { tipo = "Excel" })</a></li>
            <li><a href="#">@Html.ActionLink("Exportar a Word", "VerReporteListaPrecio", new { tipo = "Word" })</a></li>

        </ul>
    </div>
    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Kermesse1.nombre)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Kermesse1.nombre)
                    </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idListaPrecio }, new { @style = "color: #779FA1" })
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" style="float: left; color: #779FA1"></span>|
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="color: #779FA1"></span>
                    @Html.ActionLink("Detalles", "Details", new { id = item.idListaPrecio }, new { @style = "color: #779FA1" }) |
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color: #779FA1"></span>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idListaPrecio }, new { @style = "color: #779FA1" })
                </td>
            </tr>
        }

    </table>

    <hr />

    <p>
        <button type="button" class="btn-lg" style="border-block-color: #779FA1; background-color: #779FA1">
            @Html.ActionLink("Agregar nuevo", "Create", "ListaPrecios", new { @style = "color:white;" })
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="float: left;  color: white"></span>
        </button>
    </p>
</div> 