@model ProyectoFinalKermesse.Models.Gasto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gasto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechGasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechGasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEliminacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEliminacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaGasto.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaGasto.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kermesse1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kermesse1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario2.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario2.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idGasto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
